@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");

body,
html,
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 800;
  font-size: 2.5rem;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 30px 0;
}

/* Hero Banner section */

/* flex parent [1] */
.hero-banner {
  background-color: #007fff;
  position: relative;
  min-height: 100vh;
  max-height: fit-content;
  overflow: hidden;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
/* flex child [1] */
.wrapper {
  min-width: 620px;
  margin: 0 auto;
  padding: 20px 15px;
}

.hero-banner h1 {
  color: white;
  margin: 14px 0 20px;
}

.hero-banner h3 {
  color: white;
  margin: 0 0 35px;
}

.hero-banner h4,
.hero-banner h4 a {
  color: white;
  margin: 0;
}
/* flex child [1] */
.characters {
  min-width: 500px;
  margin: 0 auto;
  height: 540px;

  position: relative;
}

.character1 {
  background: url("img/character1.png") no-repeat 0 0;
  background-size: 100%;
  width: 363px;
  height: 344px;
  position: absolute;
  bottom: 150px;
  left: 130px;
}

.character2 {
  background: url("img/character2.png") no-repeat 0 0;
  background-size: 100%;
  width: 309px;
  height: 371px;
  position: absolute;
  bottom: 63px;
  left: 10px;
}

.character3 {
  background: url("img/character3.png") no-repeat 0 0;
  background-size: 100%;
  width: 297px;
  height: 286px;
  position: absolute;
  bottom: 24px;
  left: 190px;
}

a.cta,
button.cta {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background: #007fff;
  display: inline-block;
  box-shadow: 0 0 5px 5px rgba(0, 53, 105, 0.2);
  border: none;
  cursor: pointer;
  padding: 20px 30px;
  border-radius: 10px;
  text-decoration: none;
}

a.cta.alt,
button.cta.alt {
  background-color: #ffd400;
  color: #111;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

/* Nav bar section */

nav {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

nav .logo {
  background: url(img/logo.png) no-repeat 0 0;
  background-size: 100%;
  display: block;
  width: 300px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -20px;
  overflow: hidden;
  text-indent: -999px;
}

nav ul {
  padding: 0;
  margin: 0 20px 0 0;
}

nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}

nav ul li a {
  display: block;
  height: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #111;
  text-decoration: none;
  padding: 35px 10px;
}

/* More info section */

.more-info {
  position: static;
  text-align: center;
}

#more-info {
  position: relative;
  top: -100px;
}

/* MEDIA QUERIES */

/* Centro il testo del banner su mobile */

@media screen and (max-width: 1137px) {
  .hero-banner {
    text-align: center;
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }
}

/* Cambia la grandezza del font su schermi
   più piccoli 
   
   In più aggiusto la grandezza delle figure
   */
@media screen and (max-width: 650px) {
  h1 {
    font-weight: 800;
    font-size: 2.5rem;
  }

  h3 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  h4 {
    font-weight: bold;
    font-size: 1rem;
  }

  .wrapper {
    min-width: 0px;
  }

  .characters {
    transform: scale(0.8);
  }
}
