@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");

/* 
Index
-General
-Hero Banner 
-Nav bar 
-More info 
-Footer 
-Popup
*/

/* General */

body,
html,
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 800;
  font-size: 2.5rem;
}

h3 {
  font-weight: bold;
  font-size: 2rem;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 30px 0;
}

/* Hero Banner section */

/* flex parent [1] */
.hero-banner {
  background-color: #007fff;
  position: relative;
  min-height: 100vh;
  max-height: fit-content;
  overflow: hidden;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
/* flex child [1] */
.wrapper {
  min-width: 620px;
  margin: 0 auto;
  padding: 20px 15px;
}

.hero-banner h1 {
  color: white;
  margin: 14px 0 20px;
}

.hero-banner h3 {
  color: white;
  margin: 0 0 35px;
}

.hero-banner h4,
.hero-banner h4 a {
  color: white;
  margin: 0;
}
/* flex child [1] */
.characters {
  min-width: 500px;
  margin: 0 auto;
  height: 540px;

  position: relative;
}

.character1 {
  background: url("img/character1.png") no-repeat 0 0;
  background-size: 100%;
  width: 363px;
  height: 344px;
  position: absolute;
  bottom: 150px;
  left: 130px;
}

.character2 {
  background: url("img/character2.png") no-repeat 0 0;
  background-size: 100%;
  width: 309px;
  height: 371px;
  position: absolute;
  bottom: 63px;
  left: 10px;
}

.character3 {
  background: url("img/character3.png") no-repeat 0 0;
  background-size: 100%;
  width: 297px;
  height: 286px;
  position: absolute;
  bottom: 24px;
  left: 190px;
}

a.cta,
button.cta {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background: #007fff;
  display: inline-block;
  box-shadow: 0 0 5px 5px rgba(0, 53, 105, 0.2);
  border: none;
  cursor: pointer;
  padding: 20px 30px;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
}

a.cta:active,
button.cta:active {
  opacity: 0.8;
}

a.cta.alt,
button.cta.alt {
  background-color: #ffd400;
  color: #111;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

/* Nav bar section */

nav {
  z-index: 50;
  position: sticky;
  top: 0;
  height: 100px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

nav .logo {
  background: url(img/logo.png) no-repeat 0 0;
  background-size: 100%;
  display: block;
  width: 300px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -20px;
  overflow: hidden;
  text-indent: -999px;
}

.mob-nav {
  display: none;
  position: sticky;
  top: 100px;
  height: 100px;
  z-index: 1000;
}

nav #hamburger {
  background: url(img/hamburger.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  right: 20px;
  top: 25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}

nav ul,
.mob-nav ul {
  padding: 0;
  margin: 0 20px 0 0;
}

nav ul li,
.mob-nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}

nav ul li a,
.mob-nav ul li a {
  display: block;
  height: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #111;
  text-decoration: none;
  padding: 35px 10px;
}

/* More info section */

.more-info {
  text-align: center;
  max-width: 80%;
  margin: 20px auto;
}

.more-info p {
  line-height: 40px;
  margin: 18px 0 35px;
}

.more-info h2 {
  line-height: 50px;
  margin: 20px 0 35px;
}

#more-info {
  position: relative;
  top: -100px;
}

.highlight {
  background-color: #ffadf9;
  color: #ff3300;
  font-weight: 800;
  padding: 5px 10px;
  display: inline;
}

/* Story section */

.sep {
  width: 470px;
  height: 10px;
  background-color: #111;
  margin: 70px auto;
}

.story {
  width: 1000px;
  margin: 0 auto;
}

.story-content {
  line-height: 50px;
}

.story-content h3 {
  font-size: 2.4rem;
  font-weight: 800;
}

.nb-list {
  width: 470px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #ededed;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
}

.nb-list li {
  height: 70px;
  border-radius: 10px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.nb-list li:last-child {
  margin-bottom: 0;
}

.nb-list li.red {
  background-color: #ff3300;
}
.nb-list li.blue {
  background-color: #007fff;
}
.nb-list li.gray {
  background-color: rgba(0, 0, 0, 0.1);
}
.nb-list li.yellow {
  background-color: #ffd400;
  color: #111;
}
.nb-list li.pink {
  background-color: #ffadf9;
}
.nb-list li.salmon {
  background-color: #fa8072;
}

.nb-list li.dragging {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 430px;
  transform: rotate(6deg);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}

.nb-list li.dragging:after {
  content: "";
  display: block;
  position: absolute;
  width: 54px;
  height: 50px;
  background: url(img/hand.png) no-repeat 0 0;
  background-size: 100%;
  bottom: 0;
  right: 30%;
}

/* Big Image */

.gang-img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

/* Footer section */

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin: 80px 0 10px;
  font-weight: bold;
}

/* Popup section */

.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.show {
  display: block;
}

.popup .blanket {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.popup .content {
  position: absolute;
  box-sizing: border-box;
  width: 960px;
  height: 500px;
  padding: 30px 40px;
  background-color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.popup .content h2 {
  margin-bottom: 15px;
}

.popup .close {
  position: absolute;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #ff3300 url(img/close.png) no-repeat center center;
  background-size: 50%;
  top: -40px;
  right: -40px;
  overflow: hidden;
  text-indent: -9000px;
  cursor: pointer;
}

.popup .close:hover {
  filter: brightness(0.9);
}

.popup .row {
  margin-bottom: 40px;
}

.popup .row::after {
  content: "";
  display: table;
  clear: both;
}

.popup .item {
  float: left;
  width: 415px;
  margin-left: 40px;
  text-align: left;
}

.popup .item:first-child {
  margin-left: 0;
}

.popup .item label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup .item input[type="text"] {
  display: block;
  font-size: 30px;
  font-weight: bold;
  border: 4px solid #111;
  height: 70px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
}

/* MEDIA QUERIES */

/* Adattamento a mobile */

@media screen and (max-width: 1137px) {
  .hero-banner {
    text-align: center;
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }

  .story {
    width: 100%;
    padding: 0;
  }

  /* popup for mobile */

  .popup {
    background-color: white;
    overflow-y: scroll;
  }

  .popup .content {
    width: 100%;
    height: 100%;
  }

  .popup .content h2 {
    margin-top: 30px;
  }

  .popup .close {
    transform: scale(0.8);
    top: 0;
    right: 0;
  }

  .popup .item {
    display: block;
    width: 100%;
  }

  .popup .item {
    margin-left: 0;
  }

  .popup .row {
    margin: 0;
  }

  .popup button.cta {
    margin-top: 40px;
  }
}

@media screen and (max-width: 800px) {
  .nb-list {
    float: none;
    margin: 0 auto 40px;
    transform: scale(0.9);
  }

  .more-info {
    margin: 130px 0;
  }

  /* Nav su mobile */

  .mob-nav ul li {
    text-align: center;
    width: 100%;
    display: block;
    background-color: white;
  }

  .mob-nav ul {
    width: 100%;
  }

  nav ul {
    display: none;
  }

  nav #hamburger {
    display: block;
  }
}

/* Close the mobile menu if the screen get resized over 800px*/
@media screen and (min-width: 800px) {
  .mob-nav {
    display: none;
  }
}

/* Cambia la grandezza del font su schermi
   più piccoli 
   
   In più aggiusto la grandezza delle figure
*/

@media screen and (max-width: 650px) {
  h1 {
    font-weight: 800;
    font-size: 2.5rem;
  }

  h3 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  h4 {
    font-weight: bold;
    font-size: 1rem;
  }

  .wrapper {
    min-width: 0px;
    padding: 0;
  }

  .characters {
    transform: scale(0.8);
  }

  .more-info {
    max-width: 100%;
  }

  .story-content {
    padding: 20px;
    line-height: 50px;
  }

  .sep {
    width: 40%;
  }
}
